<form method="post" action="">
    <p>Date</p>
    <input type="text" name="Person" />
    <p>Введите адрес :</p>
    <input type="text" name="Address" />
    <input type="submit" value="Отправить" />
</form>